Data Cleaning

- import important libraries.

In [51]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt

- merge all files created from web scrapping.

In [52]:
csv_files = glob.glob('Full Data/*.csv')
dfs = []

for file in csv_files:
    dfn = pd.read_csv(file)
    dfs.append(dfn)

df = pd.concat(dfs)
df

,Name,Review,Number Of Reviews,Genre,Tags,Dev_Info,Developer,Publisher,Release_Date,link,Price
0,Palworld,Very Positive,"(187,133)","['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...","['Action, Adventure, Indie, RPG, Early Access']",Pocketpair,Pocketpair,"18 Jan, 2024",https://store.steampowered.com/app/1623730/Pal...,$14.99
1,Counter-Strike 2,Very Positive,"(7,871,062)","['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...","['Action, Free to Play']",Valve,Valve,"21 Aug, 2012",https://store.steampowered.com/app/730/Counter...,Free
2,Ready or Not,Very Positive,"(124,768)","['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']","['Action, Adventure, Indie']",VOID Interactive,VOID Interactive,"13 Dec, 2023",https://store.steampowered.com/app/1144200/Rea...,$21.74
3,NARAKA: BLADEPOINT,Mostly Positive,"(199,601)","['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']","['Action, Adventure, Massively Multiplayer']",24 Entertainment,NetEase Games Global,"12 Aug, 2021",https://store.steampowered.com/app/1203220/NAR...,Free
4,Lethal Company,Overwhelmingly Positive,"(261,544)","['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']","['Action, Adventure, Indie, Early Access']",Zeekerss,Zeekerss,"24 Oct, 2023",https://store.steampowered.com/app/1966720/Let...,$5.79
...,...,...,...,...,...,...,...,...,...,...,...
2432,Aliens versus Predator Classic 2000,Very Positive,"(2,190)",['Action'],['Single-player'],['Action'],Rebellion,Rebellion,"28 Mar, 2000",https://store.steampowered.com/app/3730/Aliens...,$4.99
2433,ARMA: Cold War Assault,Very Positive,"(1,968)","['Action, Simulation, Strategy']",['Single-player'],"['Action, Simulation, Strategy']",Bohemia Interactive,Bohemia Interactive,"9 Aug, 2011",https://store.steampowered.com/app/65790/ARMA_...,$4.99
2434,Solace Crafting,Mostly Positive,(741),"['Adventure, Indie, RPG']","['Single-player', 'Online Co-op', 'LAN Co-op',...","['Adventure, Indie, RPG']",Big Kitty Games,Big Kitty Games,"2 Aug, 2022",https://store.steampowered.com/app/670260/Sola...,$14.99
2435,Homeseek,Mixed,(143),"['Indie, Simulation, Strategy']","['Single-player', 'Online PvP', 'Steam Achieve...","['Indie, Simulation, Strategy']",Traptics,The Iterative Collective,"20 Jul, 2023",https://store.steampowered.com/app/2093000/Hom...,$12.49
2436,Dude Simulator 3,Mixed,"(1,774)","['Action, Adventure, Indie, Racing, Simulation']","['Single-player', 'Steam Trading Cards']","['Action, Adventure, Indie, Racing, Simulation']",Kiddy,Kiddy,"28 Aug, 2019",https://store.steampowered.com/app/1086640/Dud...,$0.69

In [53]:
df.describe()

,Name,Review,Number Of Reviews,Genre,Tags,Dev_Info,Developer,Publisher,Release_Date,link,Price
count,2437,2437,2432,2437,2437,2437,2437,2432,2437,2437,2430
unique,2417,11,2040,430,804,430,1821,1298,1552,2437,251
top,Risen 2: Dark Waters,Very Positive,(302),['Action'],"['Single-player', 'Steam Achievements', 'Steam...",['Action'],Square Enix,Ubisoft,"27 Jul, 2023",https://store.steampowered.com/app/1623730/Pal...,Free
freq,2,1425,6,156,247,156,29,55,9,1,228

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2437 entries, 0 to 2436
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               2437 non-null   object
 1   Review             2437 non-null   object
 2   Number Of Reviews  2432 non-null   object
 3   Genre              2437 non-null   object
 4   Tags               2437 non-null   object
 5   Dev_Info           2437 non-null   object
 6   Developer          2437 non-null   object
 7   Publisher          2432 non-null   object
 8   Release_Date       2437 non-null   object
 9   link               2437 non-null   object
 10  Price              2430 non-null   object
dtypes: object(11)
memory usage: 209.6+ KB

- drop nulls & duplicates.

In [54]:
df.isnull().sum()

Name                 0
Review               0
Number Of Reviews    5
Genre                0
Tags                 0
Dev_Info             0
Developer            0
Publisher            5
Release_Date         0
link                 0
Price                7
dtype: int64

In [56]:
df = df.dropna()
df = df.drop_duplicates(subset='Name', keep='first')
df

,Name,Review,Number Of Reviews,Genre,Tags,Dev_Info,Developer,Publisher,Release_Date,link,Price
0,Palworld,Very Positive,"(187,133)","['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...","['Action, Adventure, Indie, RPG, Early Access']",Pocketpair,Pocketpair,"18 Jan, 2024",https://store.steampowered.com/app/1623730/Pal...,$14.99
1,Counter-Strike 2,Very Positive,"(7,871,062)","['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...","['Action, Free to Play']",Valve,Valve,"21 Aug, 2012",https://store.steampowered.com/app/730/Counter...,Free
2,Ready or Not,Very Positive,"(124,768)","['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']","['Action, Adventure, Indie']",VOID Interactive,VOID Interactive,"13 Dec, 2023",https://store.steampowered.com/app/1144200/Rea...,$21.74
3,NARAKA: BLADEPOINT,Mostly Positive,"(199,601)","['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']","['Action, Adventure, Massively Multiplayer']",24 Entertainment,NetEase Games Global,"12 Aug, 2021",https://store.steampowered.com/app/1203220/NAR...,Free
4,Lethal Company,Overwhelmingly Positive,"(261,544)","['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']","['Action, Adventure, Indie, Early Access']",Zeekerss,Zeekerss,"24 Oct, 2023",https://store.steampowered.com/app/1966720/Let...,$5.79
...,...,...,...,...,...,...,...,...,...,...,...
2432,Aliens versus Predator Classic 2000,Very Positive,"(2,190)",['Action'],['Single-player'],['Action'],Rebellion,Rebellion,"28 Mar, 2000",https://store.steampowered.com/app/3730/Aliens...,$4.99
2433,ARMA: Cold War Assault,Very Positive,"(1,968)","['Action, Simulation, Strategy']",['Single-player'],"['Action, Simulation, Strategy']",Bohemia Interactive,Bohemia Interactive,"9 Aug, 2011",https://store.steampowered.com/app/65790/ARMA_...,$4.99
2434,Solace Crafting,Mostly Positive,(741),"['Adventure, Indie, RPG']","['Single-player', 'Online Co-op', 'LAN Co-op',...","['Adventure, Indie, RPG']",Big Kitty Games,Big Kitty Games,"2 Aug, 2022",https://store.steampowered.com/app/670260/Sola...,$14.99
2435,Homeseek,Mixed,(143),"['Indie, Simulation, Strategy']","['Single-player', 'Online PvP', 'Steam Achieve...","['Indie, Simulation, Strategy']",Traptics,The Iterative Collective,"20 Jul, 2023",https://store.steampowered.com/app/2093000/Hom...,$12.49
2436,Dude Simulator 3,Mixed,"(1,774)","['Action, Adventure, Indie, Racing, Simulation']","['Single-player', 'Steam Trading Cards']","['Action, Adventure, Indie, Racing, Simulation']",Kiddy,Kiddy,"28 Aug, 2019",https://store.steampowered.com/app/1086640/Dud...,$0.69

In [55]:
df['Name'].value_counts()

Name
Risen 2: Dark Waters                 2
Railroad Corporation                 2
Tainted Grail: The Fall of Avalon    2
Turing Complete                      2
Castle Story                         2
                                    ..
Estate Agent Simulator               1
æˆ˜å§¬å†›å›¢                                 1
NIMBY Rails                          1
Taur                                 1
Dude Simulator 3                     1
Name: count, Length: 2417, dtype: int64

- drop unnecessary columns

In [57]:
df.drop('link', axis=1, inplace=True)

In [58]:
df['Genre'].equals(df['Dev_Info'])

True

In [59]:
df['Developer'].equals(df['Publisher'])

False

In [60]:
df.drop('Dev_Info', axis=1, inplace=True)

In [61]:
df

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Release_Date,Price
0,Palworld,Very Positive,"(187,133)","['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...",Pocketpair,Pocketpair,"18 Jan, 2024",$14.99
1,Counter-Strike 2,Very Positive,"(7,871,062)","['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...",Valve,Valve,"21 Aug, 2012",Free
2,Ready or Not,Very Positive,"(124,768)","['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']",VOID Interactive,VOID Interactive,"13 Dec, 2023",$21.74
3,NARAKA: BLADEPOINT,Mostly Positive,"(199,601)","['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']",24 Entertainment,NetEase Games Global,"12 Aug, 2021",Free
4,Lethal Company,Overwhelmingly Positive,"(261,544)","['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']",Zeekerss,Zeekerss,"24 Oct, 2023",$5.79
...,...,...,...,...,...,...,...,...,...
2432,Aliens versus Predator Classic 2000,Very Positive,"(2,190)",['Action'],['Single-player'],Rebellion,Rebellion,"28 Mar, 2000",$4.99
2433,ARMA: Cold War Assault,Very Positive,"(1,968)","['Action, Simulation, Strategy']",['Single-player'],Bohemia Interactive,Bohemia Interactive,"9 Aug, 2011",$4.99
2434,Solace Crafting,Mostly Positive,(741),"['Adventure, Indie, RPG']","['Single-player', 'Online Co-op', 'LAN Co-op',...",Big Kitty Games,Big Kitty Games,"2 Aug, 2022",$14.99
2435,Homeseek,Mixed,(143),"['Indie, Simulation, Strategy']","['Single-player', 'Online PvP', 'Steam Achieve...",Traptics,The Iterative Collective,"20 Jul, 2023",$12.49
2436,Dude Simulator 3,Mixed,"(1,774)","['Action, Adventure, Indie, Racing, Simulation']","['Single-player', 'Steam Trading Cards']",Kiddy,Kiddy,"28 Aug, 2019",$0.69

columns' type like "Release_Date", "Price" have to be changed.

In [62]:
df['release_date'] = pd.to_datetime(df['Release_Date'])

ValueError: time data "Apr 2019" doesn't match format "%d %b, %Y", at position 106. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [63]:
df.loc[df['Release_Date'].str.len()<9]

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Release_Date,Price
107,Anno 1800,Very Positive,"(13,400)","['Simulation, Strategy']","['Single-player', 'Online PvP', 'Online Co-op'...",Ubisoft Mainz,Ubisoft,Apr 2019,$47.99
483,Kingdoms Reborn,Very Positive,"(7,069)","['Indie, Simulation, Strategy, Early Access']","['Single-player', 'Online PvP', 'Online Co-op']",Earthshine,Earthshine,Nov 2020,$19.99

-drop these two rows

In [64]:
df.drop(index=[107, 483], inplace=True)

In [65]:
df.loc[df['Release_Date'].str.len()<9]

Empty DataFrame
Columns: [Name, Review, Number Of Reviews, Genre, Tags, Developer, Publisher, Release_Date, Price]
Index: []

In [66]:
df.shape

(2398, 9)

In [67]:
df['release_date'] = pd.to_datetime(df['Release_Date'])

ValueError: time data "Ubisoft Montreal" doesn't match format "%d %b, %Y", at position 276. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [68]:
df[df['Release_Date'] == 'Ubisoft Montreal']

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Release_Date,Price
279,Assassinâ€™s CreedÂ® IV Black Flagâ„¢,Very Positive,"(55,444)","['Action, Adventure']","['Single-player', 'In-App Purchases']",Ubisoft Montreal,Ubisoft,Ubisoft Montreal,$31.99

In [69]:
df.drop(index=[279], inplace=True)

In [70]:
df['release_date'] = pd.to_datetime(df['Release_Date'])

ValueError: time data "Gearbox Software" doesn't match format "%d %b, %Y", at position 1493. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [71]:
invalid_date_rows = df[df['Release_Date'].apply(lambda x: not any(char.isdigit() for char in str(x)))]
invalid_date_rows

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Release_Date,Price
1516,Aliens: Colonial Marines Collection,Mixed,"(6,727)",['Action'],"['Single-player', 'Steam Achievements', 'Remot...",Gearbox Software,SEGA,Gearbox Software,$14.99

In [72]:
df.drop(index=[1516], inplace=True)

In [73]:
df['release_date'] = pd.to_datetime(df['Release_Date'])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2396 entries, 0 to 2436
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               2396 non-null   object
 1   Review             2396 non-null   object
 2   Number Of Reviews  2396 non-null   object
 3   Genre              2396 non-null   object
 4   Tags               2396 non-null   object
 5   Developer          2396 non-null   object
 6   Publisher          2396 non-null   object
 7   Release_Date       2396 non-null   object
 8   Price              2396 non-null   object
 9   release_date       2396 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(9)
memory usage: 205.9+ KB

In [75]:
df.drop('Release_Date', axis=1, inplace=True)

to change "Price" type, we need first to make its values numbers only.

In [76]:
df['Price'] = df['Price'].str.replace('$','')
df['Price'] = df['Price'].str.replace('Free','0')
df['Price']

0       14.99
1           0
2       21.74
3           0
4        5.79
        ...
2432     4.99
2433     4.99
2434    14.99
2435    12.49
2436     0.69
Name: Price, Length: 2396, dtype: object

In [77]:
df['Price'] = df['Price'].astype(float)
df['Price']

0       14.99
1        0.00
2       21.74
3        0.00
4        5.79
        ...
2432     4.99
2433     4.99
2434    14.99
2435    12.49
2436     0.69
Name: Price, Length: 2396, dtype: float64

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2396 entries, 0 to 2436
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               2396 non-null   object
 1   Review             2396 non-null   object
 2   Number Of Reviews  2396 non-null   object
 3   Genre              2396 non-null   object
 4   Tags               2396 non-null   object
 5   Developer          2396 non-null   object
 6   Publisher          2396 non-null   object
 7   Price              2396 non-null   float64
 8   release_date       2396 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 187.2+ KB

In [79]:
df.head()

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Price,release_date
0,Palworld,Very Positive,"(187,133)","['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...",Pocketpair,Pocketpair,14.99,2024-01-18
1,Counter-Strike 2,Very Positive,"(7,871,062)","['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...",Valve,Valve,0.00,2012-08-21
2,Ready or Not,Very Positive,"(124,768)","['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']",VOID Interactive,VOID Interactive,21.74,2023-12-13
3,NARAKA: BLADEPOINT,Mostly Positive,"(199,601)","['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']",24 Entertainment,NetEase Games Global,0.00,2021-08-12
4,Lethal Company,Overwhelmingly Positive,"(261,544)","['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']",Zeekerss,Zeekerss,5.79,2023-10-24

In [80]:
df['Review'].unique()

array(['Very Positive', 'Mostly Positive', 'Overwhelmingly Positive',
       'Mixed', 'Mostly Negative', 'Overwhelmingly Negative', 'Positive',
       'Very Negative'], dtype=object)

In [81]:
df['Number Of Reviews'] = df['Number Of Reviews'].str.replace(',','')

In [82]:
df['Number Of Reviews']

0        (187133)
1       (7871062)
2        (124768)
3        (199601)
4        (261544)
          ...
2432       (2190)
2433       (1968)
2434        (741)
2435        (143)
2436       (1774)
Name: Number Of Reviews, Length: 2396, dtype: object

In [83]:
df['Total Number Of Reviews'] = df['Number Of Reviews'].str.extract(r'(-?\d+)').astype(float)

In [84]:
df['Total Number Of Reviews'].describe()

count    2.396000e+03
mean     1.765477e+04
std      1.752639e+05
min      1.400000e+01
25%      5.977500e+02
50%      2.055000e+03
75%      8.145500e+03
max      7.871062e+06
Name: Total Number Of Reviews, dtype: float64

In [85]:
df.drop('Number Of Reviews', axis=1, inplace=True)

In [86]:
df.head()

,Name,Review,Genre,Tags,Developer,Publisher,Price,release_date,Total Number Of Reviews
0,Palworld,Very Positive,"['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...",Pocketpair,Pocketpair,14.99,2024-01-18,187133.0
1,Counter-Strike 2,Very Positive,"['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...",Valve,Valve,0.00,2012-08-21,7871062.0
2,Ready or Not,Very Positive,"['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']",VOID Interactive,VOID Interactive,21.74,2023-12-13,124768.0
3,NARAKA: BLADEPOINT,Mostly Positive,"['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']",24 Entertainment,NetEase Games Global,0.00,2021-08-12,199601.0
4,Lethal Company,Overwhelmingly Positive,"['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']",Zeekerss,Zeekerss,5.79,2023-10-24,261544.0

In [91]:
df_new = df[['Name','Genre', 'Price', 'Review']]
df_new

,Name,Genre,Price,Review
0,Palworld,"['Action, Adventure, Indie, RPG, Early Access']",14.99,Very Positive
1,Counter-Strike 2,"['Action, Free to Play']",0.00,Very Positive
2,Ready or Not,"['Action, Adventure, Indie']",21.74,Very Positive
3,NARAKA: BLADEPOINT,"['Action, Adventure, Massively Multiplayer']",0.00,Mostly Positive
4,Lethal Company,"['Action, Adventure, Indie, Early Access']",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,['Action'],4.99,Very Positive
2433,ARMA: Cold War Assault,"['Action, Simulation, Strategy']",4.99,Very Positive
2434,Solace Crafting,"['Adventure, Indie, RPG']",14.99,Mostly Positive
2435,Homeseek,"['Indie, Simulation, Strategy']",12.49,Mixed
2436,Dude Simulator 3,"['Action, Adventure, Indie, Racing, Simulation']",0.69,Mixed

In [92]:
df_new['Genre'] = df_new['Genre'].apply(lambda x: x[2:-2])
df_new

C:\Users\Maha\AppData\Local\Temp\ipykernel_18216\3484558886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Genre'] = df_new['Genre'].apply(lambda x: x[2:-2])

,Name,Genre,Price,Review
0,Palworld,"Action, Adventure, Indie, RPG, Early Access",14.99,Very Positive
1,Counter-Strike 2,"Action, Free to Play",0.00,Very Positive
2,Ready or Not,"Action, Adventure, Indie",21.74,Very Positive
3,NARAKA: BLADEPOINT,"Action, Adventure, Massively Multiplayer",0.00,Mostly Positive
4,Lethal Company,"Action, Adventure, Indie, Early Access",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,Action,4.99,Very Positive
2433,ARMA: Cold War Assault,"Action, Simulation, Strategy",4.99,Very Positive
2434,Solace Crafting,"Adventure, Indie, RPG",14.99,Mostly Positive
2435,Homeseek,"Indie, Simulation, Strategy",12.49,Mixed
2436,Dude Simulator 3,"Action, Adventure, Indie, Racing, Simulation",0.69,Mixed

In [95]:
df_new['Genre'] = df_new['Genre'].apply(lambda x: x.split(','))

C:\Users\Maha\AppData\Local\Temp\ipykernel_18216\608474138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Genre'] = df_new['Genre'].apply(lambda x: x.split(','))

<class 'pandas.core.frame.DataFrame'>
Index: 2396 entries, 0 to 2436
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2396 non-null   object
 1   Genre   2396 non-null   object
 2   Price   2396 non-null   float64
 3   Review  2396 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.6+ KB

In [49]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2396 entries, 0 to 2436
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2396 non-null   object
 1   Genre   2396 non-null   object
 2   Price   2396 non-null   float64
 3   Review  2396 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.6+ KB

In [96]:
df_new_1 = df_new.explode('Genre')
df_new_1

                  Name          Genre  Price         Review
0             Palworld         Action  14.99  Very Positive
0             Palworld      Adventure  14.99  Very Positive
0             Palworld          Indie  14.99  Very Positive
0             Palworld            RPG  14.99  Very Positive
0             Palworld   Early Access  14.99  Very Positive
...                ...            ...    ...            ...
2436  Dude Simulator 3         Action   0.69          Mixed
2436  Dude Simulator 3      Adventure   0.69          Mixed
2436  Dude Simulator 3          Indie   0.69          Mixed
2436  Dude Simulator 3         Racing   0.69          Mixed
2436  Dude Simulator 3     Simulation   0.69          Mixed

[6757 rows x 4 columns]

In [98]:
df_new_1['Genre'] = df_new_1['Genre'].str.strip()

In [99]:
df_new_1['Genre'].unique()

array(['Action', 'Adventure', 'Indie', 'RPG', 'Early Access',
       'Free to Play', 'Massively Multiplayer', 'Strategy', 'Simulation',
       'Sports', 'Casual', 'Racing'], dtype=object)

In [107]:
df_NTPR = df[['Name','Tags', 'Price', 'Review']]
df_NTPR

,Name,Tags,Price,Review
0,Palworld,"['Single-player', 'Online Co-op', 'Steam Achie...",14.99,Very Positive
1,Counter-Strike 2,"['Cross-Platform Multiplayer', 'Steam Trading ...",0.00,Very Positive
2,Ready or Not,"['Single-player', 'Online Co-op', 'Steam Cloud']",21.74,Very Positive
3,NARAKA: BLADEPOINT,"['Online PvP', 'In-App Purchases']",0.00,Mostly Positive
4,Lethal Company,"['Single-player', 'Online Co-op']",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,['Single-player'],4.99,Very Positive
2433,ARMA: Cold War Assault,['Single-player'],4.99,Very Positive
2434,Solace Crafting,"['Single-player', 'Online Co-op', 'LAN Co-op',...",14.99,Mostly Positive
2435,Homeseek,"['Single-player', 'Online PvP', 'Steam Achieve...",12.49,Mixed
2436,Dude Simulator 3,"['Single-player', 'Steam Trading Cards']",0.69,Mixed

In [101]:
df['Price'] = df['Price'].str.replace('$','')

AttributeError: Can only use .str accessor with string values!

C:\Users\win10\AppData\Local\Temp\ipykernel_3440\3679955500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NTPR.drop('Genre', axis=1, inplace=True)

In [108]:
df_NTPR['Tags'] = df_NTPR['Tags'].apply(lambda x: x[1:-1])
df_NTPR

C:\Users\Maha\AppData\Local\Temp\ipykernel_18216\3697472107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NTPR['Tags'] = df_NTPR['Tags'].apply(lambda x: x[1:-1])

,Name,Tags,Price,Review
0,Palworld,"'Single-player', 'Online Co-op', 'Steam Achiev...",14.99,Very Positive
1,Counter-Strike 2,"'Cross-Platform Multiplayer', 'Steam Trading C...",0.00,Very Positive
2,Ready or Not,"'Single-player', 'Online Co-op', 'Steam Cloud'",21.74,Very Positive
3,NARAKA: BLADEPOINT,"'Online PvP', 'In-App Purchases'",0.00,Mostly Positive
4,Lethal Company,"'Single-player', 'Online Co-op'",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,'Single-player',4.99,Very Positive
2433,ARMA: Cold War Assault,'Single-player',4.99,Very Positive
2434,Solace Crafting,"'Single-player', 'Online Co-op', 'LAN Co-op', ...",14.99,Mostly Positive
2435,Homeseek,"'Single-player', 'Online PvP', 'Steam Achievem...",12.49,Mixed
2436,Dude Simulator 3,"'Single-player', 'Steam Trading Cards'",0.69,Mixed

In [109]:
df_NTPR['Tags'] = df_NTPR['Tags'].apply(lambda x: x.split(','))

C:\Users\Maha\AppData\Local\Temp\ipykernel_18216\1368652906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NTPR['Tags'] = df_NTPR['Tags'].apply(lambda x: x.split(','))

In [110]:
df_NTPR_1 = df_NTPR.explode('Tags')

In [111]:
df_NTPR_1['Tags'] = df_NTPR_1['Tags'].str.strip()

In [116]:
df_NTPR_1['Tags'].unique()

array(["'Single-player'", "'Online Co-op'", "'Steam Achievements'",
       "'Steam Cloud'", "'Cross-Platform Multiplayer'",
       "'Steam Trading Cards'", "'Steam Workshop'", "'In-App Purchases'",
       "'Valve Anti-Cheat enabled'", "'Stats'", "'Remote Play on Phone'",
       "'Remote Play on Tablet'", "'Remote Play on TV'", "'Online PvP'",
       "'SteamVR Collectibles'", "'Shared/Split Screen PvP'",
       "'Shared/Split Screen Co-op'", "'MMO'", "'Steam Leaderboards'",
       "'HDR available'", "'LAN PvP'", "'Includes level editor'",
       "'LAN Co-op'", "'Captions available'", "'Commentary available'",
       "'Tracked Controller Support'", "'VR Supported'",
       "'Remote Play Together'", "'Steam Turn Notifications'",
       "'Includes Source SDK'", "'Steam is learning about this game '",
       "'Profile Features Limited '"], dtype=object)

In [113]:
df_NTPR_1

                  Name                          Tags  Price         Review
0             Palworld               'Single-player'  14.99  Very Positive
0             Palworld                'Online Co-op'  14.99  Very Positive
0             Palworld          'Steam Achievements'  14.99  Very Positive
0             Palworld                 'Steam Cloud'  14.99  Very Positive
1     Counter-Strike 2  'Cross-Platform Multiplayer'   0.00  Very Positive
...                ...                           ...    ...            ...
2435          Homeseek                  'Online PvP'  12.49          Mixed
2435          Homeseek          'Steam Achievements'  12.49          Mixed
2435          Homeseek         'Steam Trading Cards'  12.49          Mixed
2436  Dude Simulator 3               'Single-player'   0.69          Mixed
2436  Dude Simulator 3         'Steam Trading Cards'   0.69          Mixed

[9850 rows x 4 columns]

In [114]:
df_NTPR_1[df_NTPR_1['Tags'] == "''"]

                          Name Tags  Price Review
1407  Might & Magic: Heroes VI   ''  23.99  Mixed

In [115]:
df_NTPR_1.drop(index=[1407], inplace=True)

In [117]:
df.to_csv('data_cleaned_all.csv', index=False)
df_new_1.to_csv('data_cleaned_genre.csv', index=False)
df_NTPR_1.to_csv('data_cleaned_tags.csv', index=False)